.body {
    padding: 30px;
}

/* header in the index.html file */
.header {
    height: 630px;
    padding: 30px;
    text-align: center;
    background: cornflowerblue;
    color: white;
    font-size: 30px;
}

/* <h1 class="RPS">ROCK  PAPER  SCISSORS</h1> in the index.html file */
.RPS {
    padding-top: 60px;
    text-align: center;
    color: black;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 50px;
    letter-spacing: 20px;
    word-spacing: 20px;
}

/* <button id="start-game-btn" class="button">Start Game!</button> in the index.html file  */
.button {
    background-color: brown;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.footer {
    position: relative;
    background: palevioletred;
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}